@import "./mixins.scss";

body.txqk {
  margin: 0;
  @include text-font();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.txqk code {
  @include text-font-mono();
}
