@import "../../styles/mixins.scss";
@import "./themes/themes.scss";

.txqk-drive-root-folder {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 90vh;
}
