@import "../../styles/mixins.scss";
@import "./themes/themes.scss";

$toggle-width: 15px;
$toggle-height: 15px;

.trmrk-drive-item {
  text-align: left;
  margin: 0px;
  padding: 0px;
  /* min-width: 100%; */
  /* max-width: 100%; */
  /* width: 100%; */
  user-select: none;

  &.trmrk-drive-file {
    font-family: $alt-text-font-family;
  }

  &.trmrk-drive-root {
    width: 100%;
  }

  .trmrk-btstrp-col {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    line-height: $toggle-height;
    /* width: 100%; */

    > .trmrk-btstrp-row {
      padding-left: 0px;
      margin-left: 0px;

      > .trmrk-btstrp-col {
        padding-left: 0px;
        cursor: pointer;
      }
    }

    &.trmrk-toggle {
      margin: 0px;
      padding: 0px;
      min-height: $toggle-height;
      max-height: $toggle-height;
      min-width: $toggle-width;
      max-width: $toggle-width;
      display: block;
    }

    &.trmrk-toggle > label {
      margin: 0px 0px 0px 0px;
      padding-right: 1px;
      margin-top: -2px;
      @include text-font-mono(20px);
      cursor: pointer;
      font-weight: bold;
      line-height: $toggle-height;
      width: $toggle-width;
      height: $toggle-width;
      border-radius: 3px;
    }

    &.trmrk-toggle.trmrk-toggle-collapsed {
      padding: 0px 0px 0px 0px;
    }

    &.trmrk-toggle.trmrk-toggle-expanded {
      padding: 0px 0px 0px 0px;
    }
  }

  .trmrk-item-children {
    ul {
      list-style-type: none;
      text-align: left;
      display: block;
    }
  }
}
