@import "./mixins.scss";

body.trmrk {
  margin: 0;
  @include text-font();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

body.trmrk code {
  @include text-font-mono();
}
