@import "../styles/variables.scss";

.trmrk-app-main {
  padding-top: 0px;
  margin-top: 0px;

  .trmrk-app-cntr {
    padding: 10px 10px 1px 10px;
    min-height: 88vh;
  }

  .trmrk-validation-error {
    color: red;
  }

  .trmrk-input-error {
    border-color: red;
  }

  .trmrk-page-section-title {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.trmrk-app-modal {
  .trmrk-validation-error {
    color: red;
  }

  .trmrk-input-error {
    border-color: red;
  }
}
