.txqk.txqk-theme-dark {
  background-color: #000000ff;

  .txqk-app-main {
    background-color: #000f;
  }

  a.txqk-app-link.nav-link {
    color: rgb(255, 102, 0);
  }

  .txqk-app-cntr {
    color: #aaaf;
    background-color: #161616ff;
  }

  .txqk-app-header {
    color: #aaaf;
    background-color: #161616ff;
  }

  .txqk-app-footer {
    color: #aaaf;
    background-color: #161616ff;
  }
}
