@import "./mixins.scss";
@import "./themes/themes.scss";
@import "./pages.scss";

.trmr-app {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.trmr-app-error {
  padding-top: 100px;
  text-align: center;
  background-color: white;

  .trmr-error-msg {
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
}

.trmr-app-loading {
  padding-top: 100px;
  text-align: center;
  background-color: white;

  .trmr-info-title {
    color: #333f;
    font-weight: bold;
    font-size: 30px;
  }
}
