$text-font-family: "Verdana";
$alt-text-font-family: "Tahoma";
$text-font-family-mono: "Consolas";

$header-height: 50px;
$footer-height: 50px;

$header-z-index: 1;

$theme-dark-back-color: #161616ff;
$theme-dark-fore-color: #aaaf;

$theme-light-back-color: #dddf;
$theme-light-fore-color: #161616ff;
