$text-font-family: "Verdana";
$alt-text-font-family: "Tahoma";
$text-font-family-mono: "Consolas";

$header-height: 50px;
$footer-height: 50px;

$header-z-index: 1;

$theme-dark-back-color: #202020ff;
$theme-dark-fore-color: #a0a0a0ff;

$theme-light-back-color: #dadadaff;
$theme-light-fore-color: #202020ff;
