.trmrk.trmrk-theme-dark {
  background-color: $theme-dark-back-color;

  .trmrk-app-main {
    background-color: #000f;
  }

  a.trmrk-app-link.nav-link {
    color: rgb(255, 102, 0);
  }

  .trmrk-app-cntr {
    color: $theme-dark-fore-color;
    background-color: $theme-dark-back-color;
  }

  .trmrk-app-header {
    color: $theme-dark-fore-color;
    background-color: $theme-dark-back-color;
  }

  .trmrk-app-footer {
    color: $theme-dark-fore-color;
    background-color: $theme-dark-back-color;
  }
}
