.trmr.trmr-theme-dark {
  background-color: $theme-dark-back-color;

  .trmr-app-main {
    background-color: #000f;
  }

  a.trmr-app-link.nav-link {
    color: rgb(255, 102, 0);
  }

  .trmr-app-cntr {
    color: $theme-dark-fore-color;
    background-color: $theme-dark-back-color;
  }

  .trmr-app-header {
    color: $theme-dark-fore-color;
    background-color: $theme-dark-back-color;
  }

  .trmr-app-footer {
    color: $theme-dark-fore-color;
    background-color: $theme-dark-back-color;
  }
}
