.txqk.txqk-theme-light {
  background-color: #ffffffff;

  .txqk-app-main {
    background-color: #ffffffff;
  }

  a.txqk-app-link.nav-link {
    color: rgb(255, 102, 0);
  }

  .txqk-app-cntr {
    background-color: #aaaf;
    color: #161616ff;
  }
}
