.trmrk.trmrk-theme-light {
  .trmrk-drive-item {
    .trmrk-item-name {
      &.mouseBtn0Pressed {
        background-color: white;
      }

      &.mouseBtn1Pressed {
        background-color: white;
      }

      &.mouseBtn2Pressed {
        background-color: white;
      }
    }

    &.trmrk-selected {
      background-color: #e5e3e2ff;
      > .trmrk-btstrp-col {
        > .trmrk-btstrp-row {
          > .trmrk-btstrp-col.trmrk-item-name {
            font-style: italic;
          }
        }
      }
    }

    &.trmrk-current {
      background-color: white;
      > .trmrk-btstrp-col {
        > .trmrk-btstrp-row {
          > .trmrk-btstrp-col.trmrk-item-name {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .trmrk-drive-item:hover {
    > .trmrk-btstrp-col {
      > .trmrk-btstrp-row {
        > .trmrk-btstrp-col.trmrk-item-name {
          font-weight: bold;
          color: #8080ffff;
        }
      }
    }
  }

  .trmrk-drive-item {
    > .trmrk-btstrp-col:hover {
      > .trmrk-btstrp-row.trmrk-main-row {
        > .trmrk-btstrp-col.trmrk-item-name {
          color: #0000a0ff;
        }
      }
    }
  }

  .trmrk-drive-item {
    color: rgb(192, 128, 0);

    > .trmrk-btstrp-col {
      > .trmrk-btstrp-row.trmrk-main-row {
        > .trmrk-btstrp-col.trmrk-item-name:hover {
          color: #0000ffff;
        }
      }
    }
  }

  .trmrk-toggle {
    color: rgba(0, 128, 0, 255);

    > label:hover {
      background-color: rgba(0, 128, 0, 255);
      color: rgba(0, 255, 0, 255);
    }
  }
}
