.trmr.trmr-theme-dark {
  .trmr-drive-item {
    .trmr-item-name {
      &.mouseBtn0Pressed {
        background-color: black;
      }

      &.mouseBtn1Pressed {
        background-color: black;
      }

      &.mouseBtn2Pressed {
        background-color: black;
      }
    }

    &.trmr-selected {
      background-color: #111f;
      > .trmr-btstrp-col {
        > .trmr-btstrp-row {
          > .trmr-btstrp-col.trmr-item-name {
            font-style: italic;
          }
        }
      }
    }

    &.trmr-current {
      background-color: black;
      > .trmr-btstrp-col {
        > .trmr-btstrp-row {
          > .trmr-btstrp-col.trmr-item-name {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .trmr-drive-item:hover {
    > .trmr-btstrp-col {
      > .trmr-btstrp-row {
        > .trmr-btstrp-col.trmr-item-name {
          font-weight: bold;
          color: #b0b080ff;
        }
      }
    }
  }

  .trmr-drive-item {
    > .trmr-btstrp-col:hover {
      > .trmr-btstrp-row.trmr-main-row {
        > .trmr-btstrp-col.trmr-item-name {
          color: #b0b000ff;
        }
      }
    }
  }

  .trmr-drive-item {
    color: rgb(192, 128, 0);

    > .trmr-btstrp-col {
      > .trmr-btstrp-row.trmr-main-row {
        > .trmr-btstrp-col.trmr-item-name:hover {
          color: #ffff00ff;
        }
      }
    }
  }

  .trmr-toggle {
    color: rgba(0, 128, 0, 255);

    > label:hover {
      background-color: rgba(0, 128, 0, 255);
      color: rgba(0, 255, 0, 255);
    }
  }
}
