<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="tncvd" type="Tncvd.AppConfig.Config.Env.TncvdEnvLocationsSectionGroup,Tncvd.AppConfig">
      <section name="envLocations" type="Tncvd.AppConfig.Config.Env.EnvLocationsSection,Tncvd.AppConfig"/>
    </sectionGroup>
  </configSections>
  <tncvd>
    <envLocations>
      <locations>
        <add name="dev" path=".\"/>
      </locations>
    </envLocations>
  </tncvd>
</configuration>