<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="tncvd" type="Tncvd.AppConfig.Config.Settings.TncvdSettingsSectionGroup,Tncvd.AppConfig">
      <section name="settings" type="Tncvd.AppConfig.Config.Settings.SettingsSection,Tncvd.AppConfig"/>
    </sectionGroup>
  </configSections>
  <tncvd>
    <settings>
      <default>
        <add name="defaultAppNamePrefix" value="Tncvd" />
      </default>
    </settings>
  </tncvd>
</configuration>