<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="tncvdEnv" type="Tncvd.AppConfig.Config.Env.EnvSectionGroup,Tncvd.AppConfig">
      <section name="envDirs" type="Tncvd.AppConfig.Config.Env.EnvDirsSection,Tncvd.AppConfig"/>
    </sectionGroup>
  </configSections>
  <tncvdEnv>
    <envDirs>
      <envDirNames>
        <add name="config" value="config" />
        <add name="content" value="content" />
        <add name="data" value="data" />
        <add name="logs" value="logs" />
        <add name="metadata" value="metadata" />
        <add name="temp" value="temp" />
      </envDirNames>
    </envDirs>
  </tncvdEnv>
</configuration>