<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="tncvdSettings" type="Tncvd.AppConfig.SpecialDirs.SettingsSectionGroup,Tncvd.AppConfig">
      <section name="specialDirs" type="Tncvd.AppConfig.SpecialDirs.SpecialDirsSection,Tncvd.AppConfig"/>
    </sectionGroup>
  </configSections>
  <tncvdSettings>
    <specialDirs>
      <specialDirNames>
        <add name="people" value="##people#" altValue="__PEOPLE__"></add>
        <add name="shared" value="##shared#" altValue="__SHARED__"></add>
        <add name="archive" value="#archive#" altValue="__ARCHIVE__"></add>
        <add name="content" value="#content#" altValue="__CONTENT__"></add>
        <add name="files" value="#files#" altValue="__FILES__"></add>
        <add name="images" value="#images#" altValue="__IMGS__"></add>
        <add name="images-docs" value="#images-docs#" altValue="__IMGS_DOCS__"></add>
        <add name="webFiles" value="#web-files#" altValue="__WEB_FILES__"></add>
        <add name="eDocs" value="#e-docs#" altValue="__E_DOCS__"></add>
        <add name="photoDocs" value="#photo-docs#" altValue="__P_DOCS__"></add>
        <add name="photoImages" value="#photo-images#" altValue="__P_IMGS__"></add>
        <add name="infoPhotoDocs" value="#info-photo-docs#" altValue="__IP_DOCS__"></add>
        <add name="infoPhotoImages" value="#info-photo-images#" altValue="__IP_IMGS__"></add>
        <add name="documentScanDocs" value="#doc-scan-docs#" altValue="__DS_DOCS__"></add>
        <add name="documentScanImages" value="#doc-scan-images#" altValue="__DS_IMGS__"></add>
        <add name="documentPhotoDocs" value="#doc-photo-docs#" altValue="__DP_DOCS__"></add>
        <add name="documentPhotoImages" value="#doc-photo-images#" altValue="__DP_IMGS__"></add>
        <add name="documentProcessedPhotoDocs" value="#doc-proc-photo-docs#" altValue="__DPS_DOCS__"></add>
        <add name="documentProcessedPhotoImages" value="#doc-proc-photo-images#" altValue="__DPS_IMGS__"></add>
      </specialDirNames>
      <specialDirDelimiters>
        <add name="l1DirNameStartDelimiter" value="#" altValue="__"></add>
        <add name="l1DirNameEndDelimiter" value="#" altValue="__"></add>
        <add name="l1DirNameSegmentsDelimiter" value="-" altValue="_"></add>
        <add name="l2DirNameStartDelimiter" value="##" altValue="__"></add>
        <add name="l2DirNameEndDelimiter" value="#" altValue="__"></add>
      </specialDirDelimiters>
    </specialDirs>
  </tncvdSettings>
</configuration>