@import "./mixins.scss";

body.txqk {
  margin: 0;
  @include text-font();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000ff;
}

code {
  font-family: Consolas;
}
