@import "../../styles/mixins.scss";
@import "./themes/themes.scss";

.trmrk-theme-picker {
  .trmrk-dropdown-item {
    font-weight: bold;

    &.trmrk-current-item {
      background-color: rgb(255, 202, 164);

      &:hover {
        background-color: rgb(255, 160, 92);
      }
    }

    &:hover {
      background-color: rgb(255, 144, 0);
      color: white;
    }
  }
}
