$body-back-color: #e0e0e0ff;

$fore-color: #686868ff;
$back-color: white;

$code-block-back-color: #ffffffff;
$code-back-color: oldlace;
$code-span-border-color: darkgray;

$text-span-border-color: $body-back-color;
$text-span-back-color: #f0f0f0ff;

$emphasize-text-color: $fore-color;
