.trmrk.trmrk-theme-light {
  .trmrk-app-drive {
    border: 2px solid white;
  }

  .trmrk-app-drive::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  .trmrk-app-drive::-webkit-scrollbar-track {
    background: $theme-light-back-color; /* color of the tracking area */
  }

  .trmrk-app-drive::-webkit-scrollbar-thumb {
    background-color: white; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid $theme-light-back-color; /* creates padding around scroll thumb */
  }

  .trmrk-app-drive::-webkit-scrollbar-corner {
    background-color: white;
    border: 2px solid $theme-light-back-color;
    border-radius: 5px;
  }
}
