.trmr.trmr-theme-dark {
  .trmr-drive-root-folder {
    border: 2px solid black;
  }

  .trmr-drive-root-folder::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  .trmr-drive-root-folder::-webkit-scrollbar-track {
    background: $theme-dark-back-color; /* color of the tracking area */
  }

  .trmr-drive-root-folder::-webkit-scrollbar-thumb {
    background-color: black; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid $theme-dark-back-color; /* creates padding around scroll thumb */
  }

  .trmr-drive-root-folder::-webkit-scrollbar-corner {
    background-color: black;
    border: 2px solid $theme-dark-back-color;
    border-radius: 5px;
  }
}
